# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tool-specific directories
.cursor/
.roo/
.history/
.devcontainer/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.tox/
venvs/
*.egg-info/
.installed.cfg
*.egg

# Helm specific
*.tgz
.helm/
charts/*.tgz

# modules.yaml
modules.yaml
venvs/

# DB
*.sqlite3
